<template>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                {{ food.title }}
            </h6>
        </div>
        <div class="card-body">
            <div class="text-center">
                <img
                    :src="food.image"
                    class="img-fluid px-3 px-sm-4 mt-3 mb-4">

            </div>
            <p>
                {{ food.description }}

            </p>
            <div class="col-12 text-center">
                <a class="btn btn-primary form-control text-center"
                   @click.prevent="takeOne(food)">
                    PEDIR
                </a>
            </div>
        </div>
    </div>

</template>
<script>
import {mapActions, mapState} from "vuex/dist/vuex.mjs";

export default {
    props: [
        'food',

    ],
    created() {
        this.loadConfiguration()
    },
    computed: {
        ...mapState([
            'cart',
        ]),
    },

    methods: {
        ...mapActions([
            'loadConfiguration',
        ]),
        takeOne(food) {
            this.$store.commit('addItemToCard',food)
            this.$http.put('/home/cart',this.cart)
        }
    }
}
</script>
