<template>
    <div class="col-12">


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Mi selección
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">

                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Plato</th>
                            <th>Descripción</th>
                            <th>Acción</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  v-for="(item,row) in cart">
                            <td>
                                {{ 1+row }}
                            </td>
                            <td>
                                {{ item.title }}
                           </td>
                            <td>
                                {{ item.description }}
                           </td>
                            <td>
                                <div class="" @click.prevent="remove(index)">
                                    Eliminar
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</template>
<script>
import {mapActions, mapState} from "vuex/dist/vuex.mjs";


export default {
    props: [
        'food',
    ],
    created() {
        this.loadConfiguration()
        this.getCart()

    },
    computed: {
        ...mapState([
            'cart',
        ]),},
    methods: {
        ...mapActions([
            'loadConfiguration',
        ]),

        remove(index) {
            let Items = this.cart;
            Items.splice(index, 1);
            this.$store.commit('setCart',Items)
            this.$http.put('/home/cart',this.cart).then((response)=>{
                if(response.data.status=='Token is Invalid'){
                    this.logOut()
                }
            })
        },

        getCart() {
            this.$http
                .post(`/home/cart`)
                .then(response => {
                    if(response.data.status=='Token is Invalid'){
                        this.logOut()
                    }
                    let data = response.data
                    this.$store.commit('setCart', data)
                })
        },
        logOut(){
            this.$http
                .post(`logout`)
                .then(response => {
                    window.location='/';
                })

        }
    }
}
</script>
