<template>
    <!-- Nav Item - User Information -->
    <li class="nav-item dropdown no-arrow">
        <a id="userDropdown"
           aria-expanded="false"
           aria-haspopup="true"
           class="nav-link dropdown-toggle"
           data-toggle="dropdown"
           href="#"
           role="button">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                {{user.firstname}}
                {{user.lastname}}
            </span>
            <img class="img-profile rounded-circle" src="https://www.pngall.com/wp-content/uploads/5/User-Profile-PNG-High-Quality-Image.png">
        </a>
        <!-- Dropdown - User Information -->
        <!--
        <div aria-labelledby="userDropdown"
             class="dropdown-menu dropdown-menu-right shadow animated--grow-in">
            <a class="dropdown-item"
               href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Perfil
            </a>
            <a class="dropdown-item"
               href="#">
                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                Settings
            </a>
            <a class="dropdown-item"
               href="#">
                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                Activity Log
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
               data-target="#logoutModal"
               data-toggle="modal"
               href="#">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Logout
            </a>

        </div>
        -->
    </li>
</template>
<script>
import {mapActions, mapState} from "vuex/dist/vuex.mjs";

export default {


    components: {

    },

    data() {
        return {
            showDrop:false,
        }
    },

    created() {
        this.loadConfiguration()
    },
    mounted() {

    },
    computed: {
        ...mapState([
            'user',
        ]),},
    methods: {
        ...mapActions([
            'loadConfiguration',
        ]),
        changeDrop(){
            this.showDrop = !this.showDrop;
        }
    }
}
</script>
