<template>
    <div class="row">
        <div v-for="(item,row) in items"
             v-if="items && item.title&& row<max"
             class=" col-lg-2 col-md-3  mb-4">

            <food-component
                :food="item"
            >

            </food-component>
        </div>

    </div>
</template>
<script>
// import FoodComponent from './FoodComponent.vue';

import {mapActions, mapState} from "vuex/dist/vuex.mjs";

export default {


    components: {
        // FoodComponent,
    },

    data() {
        return {

            max: 100,
        }
    },

    created() {
        this.loadConfiguration()
        this.getDataUser()
    },
    mounted() {

    },
    computed: {
        ...mapState([
            'cart',
            'user',
            'items',
        ]),
    },
    methods: {
        ...mapActions([
            'loadConfiguration',
        ]),
        getDataUser() {
            this.$http
                .post(`/home/user`)
                .then(response => {
                    if(response.data.status=='Token is Invalid'){
                         this.logOut()
                    }
                    let data = response.data
                    this.$store.commit('setUser', data)
                }).then(() => {
                this.getCart()
            })
                .then(() => {
                    this.getData()
                })
        },
        getCart() {
            this.$http
                .post(`/home/cart`)
                .then(response => {
                    let data = response.data
                    this.$store.commit('setCart', data)
                })
        },
        getData() {
            this.$http
                .post(`/home/food`)
                .then(response => {
                    let data = response.data
                    this.$store.commit('setItems', data)
                })

        },
        logOut(){
            this.$http
                .post(`logout`)
                .then(response => {
                    window.location='/';
                })

        }

    }
}
</script>
